button{
  padding: 10px 20px;
  border-radius: 15px;
  background-color: red;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  button:hover{
    background-color:cornflowerblue;
  }
  button:active{
    background-color: goldenrod;
  }